<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Donate blood</title>

    <script src="../hisglobal/bbpublic/assets/js/jquery-1.11.1.min.js"></script>

    <link href="../hisglobal/bbpublic/assets/elements/css/bootstrap.css" rel="stylesheet">
    <link href="../hisglobal/bbpublic/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../hisglobal/bbpublic/assets/elements/css/combined.css" rel="stylesheet">
    <link href="../bloodbank/transactions/assets/css/combined-cleaned.css" rel="stylesheet">
    <link href="../hisglobal/bbpublic/assets/elements/css/hover.min.css" rel="stylesheet">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <link rel="stylesheet" href="../hisglobal/bbpublic/assets/elements/css/animate.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="donation.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="../hisglobal/bbpublic/why/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../hisglobal/bbpublic/assets/elements/css/jquery.floating-social-share.min.css" rel="stylesheet"
        type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="head">
        <p style="padding: 10px; padding-bottom: 5px; height: 10px;">
        <h2>Blood Hub</h2>
        </p>
    </div>
    <a href="/"><img src="Blood Hub Logo.png" class="shadow-lg bg-body rounded-circle" alt="Logo"
            style="z-index: 2; height: 150px; width: 160px; margin-left: 50px; margin-bottom: 20px; margin-top: -50px;"></a>
    <div class="float-end">
        <div class="dropdown" style="margin-top: 30px;">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/About" target="_blank">About Blood Hub</a>
                <a href="/contact" target="_blank">Contact Us</a>
            </div>
        </div>
        <div class="dropdown1">
            <button class="dropbtn1">LOOKING FOR BLOOD</button>
            <div class="dropdown1-content">
                <a href="/index" target="_blank">Blood Availability</a>
                <a href="/Directory" target="_blank">Blood Bank Directory</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">WANT TO DONATE BLOOD</button>
            <div class="dropdown2-content">
                <a href="/Donor" target="_blank">Donor Login</a>
                <a href="/Donation">About Blood Donation</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn3"><b>BLOOD BANK LOGIN</b></button>
            <div class="dropdown3-content">
                <a href="/login">Blood Hub Login</a>
                <a href="/AddBloodBank" target="_blank">Add Your BloodBank</a>
            </div>
        </div>
    </div>
    <div class="main" style="text-justify:inter-word">
        <section id="one" data-anchor="one" class="page-block">
            <div class="content">
                <h1>Why Donate Blood</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p># The most precious gift that one can give to
                                    another person is the gift of life i.e. blood. It is the essence of life.</p>
                            </li>
                            <li>
                                <p># Your blood saves more than one life when it is separated into its components (red
                                    blood cells, plasma etc.).</p>
                            </li>
                            <li>
                                <p># Blood is needed regularly for patients with diseases such as thalassemia and
                                    hemophilia, and also for the treatment of injuries after an accident, major
                                    surgeries, anemia, etc.</p>
                            </li>
                            <li>
                                <p># It improves your health. </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'>
                        <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-tint fa-2x"
                                aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now
                        </button>
                        <button type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register Now
                        </button>
                    </div>
                </div>
                <br><br>

                <br><br><br><br><br>
            </div>
        </section>
        <section id="two" data-anchor="two" class="page-block">
            <div class="content">

                <h1>Benefits of Donating Blood</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p> <strong>Less likely to suffer diseases</strong></p>
                            </li>
                            <li>
                                <p># Did you know that people who donate blood are 88% less likely to suffer a heart
                                    attack and 33% less likely to acquire any type of cardiovascular disease.</p>
                            </li>

                            <li>
                                <p># When you donate blood, it removes 225 to 250 milligrams of iron from your body,
                                    hence reducing the risk of heart disease.</p>
                            </li>

                            <li>
                                <p># Blood Center performs numerous tests on the donated blood. Therefore regular blood
                                    donation helps in sheilding you from serious diseases.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'><button type="button" class="btn btn-danger btn-lg"><i
                                class="fa fa-tint fa-2x" aria-hidden="true"
                                style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now</button><button
                            type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register
                            Now</button></div>
                </div>
            </div>
        </section>
        <section id="three" data-anchor="three" class="page-block">
            <div class="content">
                <h1>Facts About Blood</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p># One unit of donated blood can save up to three lives.</p>
                            </li>
                            <li>
                                <p># You can donate blood every three months. It only takes 48 hours for your body
                                    fluids to be completely replenished.</p>
                            </li>
                            <li>
                                <p># Scientists have estimated the volume of blood in the human body
                                    to be eight percent of body weight. </p>
                            </li>
                            <li>
                                <p># There are 100,000 miles of blood vessels in an adult human body.</p>
                            </li>
                            <li>
                                <p># A red blood cell can make a complete circuit of your body in 30
                                    seconds.</p>
                            </li>
                            <li>
                                <p># White blood cells make up about 1% of your blood.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'><button type="button" class="btn btn-danger btn-lg"><i
                                class="fa fa-tint fa-2x" aria-hidden="true"
                                style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now</button>
                                <button
                                type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                    aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register
                                Now</button>
                            </div>
                </div>
                <br><br><br>
            </div>
        </section>
        <section id="four" data-anchor="four" class="page-block">
            <div class="content">
                <h1>Stats about Blood</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p>#According to a 2012 World Health Organisation (WHO) report, only nine million units
                                    are
                                    collected annually, while the need is for 12 million units.</p>
                            </li>
                            <li>
                                <p># Delhi NCR alone faces a shortage of 100,000 units per year.</p>
                            </li>
                            <li>
                                <p># The shelf-life of donated blood is 35 to 42 days. There is a constant need to
                                    replenish
                                    stocks in our blood banks.</p>
                            </li>
                            <li>
                                <p># Healthy donors are between the age of 18 to 65 years.</p>
                            </li>
                            <li>
                                <p># Statistics show that there are 234 million major operations in India, 63 million
                                    trauma-induced surgeries, 31 million cancer-related procedures and 10 million
                                    pregnancy
                                    related complications which require blood transfusions.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'><button type="button" class="btn btn-danger btn-lg"><i
                                class="fa fa-tint fa-2x" aria-hidden="true"
                                style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now</button>
                                <button
                                type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                    aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register Now
                            </button>
                            </div>
                </div>
                <br><br><br>
            </div>
        </section>
        <section id="five" data-anchor="five" class="page-block">
            <div class="content">
                <h1>Before You Donate</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p># Donating blood is a safe, simple, and rewarding experience that usually takes 30
                                    minutes.
                                </p>
                            </li>
                            <li>
                                <p># To donate blood, find a blood bank near you using Blood Hub <a
                                        href="/BLDAHIMS/bloodbank/nearbyBBRed.cnt"><strong> Blood Bank
                                            Directory </strong></a>.</p>
                            </li>
                            <li>
                                <p># Requirement before Blood Donation is that your weight should be atleast 45 kgs , be
                                    at
                                    least 18 years old and be healthy in general.</p>
                            </li>
                            <li>
                                <p># If you have any particular health concerns then inform the blood bank at the time
                                    of blood
                                    donation.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'><button type="button" class="btn btn-danger btn-lg"><i
                                class="fa fa-tint fa-2x" aria-hidden="true"
                                style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now</button>
                                <button
                                type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                    aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register Now
                                </button>
                            </div>
                </div>
                <br><br><br><br><br>
            </div>
        </section>
        <section id="six" data-anchor="six" class="page-block">
            <div class="content">
                <h1>Pre Donation Screening</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p># During pre-donation screening, a blood bank employee will ask you some questions
                                    about your
                                    health, lifestyle, and disease risk factors. All of this information is
                                    confidential.</p>
                            </li>
                            <li>
                                <p># An employee will perform a short health exam, taking your pulse, temperature and
                                    blood
                                    pressure. A drop of blood from your finger will also be tested to ensure that your
                                    blood
                                    iron level is sufficient for you to donate.</p>
                            </li>
                            <li>
                                <p># All medical equipment used for this test, as well as during the donation process,
                                    is
                                    sterile, used only once and then disposed.</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'><button type="button" class="btn btn-danger btn-lg"><i
                                class="fa fa-tint fa-2x" aria-hidden="true"
                                style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now</button>
                                <button
                                type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                    aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register Now
                            </button>
                            </div>
                </div>
                <br><br><br><br>
            </div>
        </section>
        <section id="seven" data-anchor="seven" class="page-block">
            <div class="content">
                <h1>Blood Donation</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p># Once the pre-donation screening is finished, you will proceed to a donor bed where
                                    your arm
                                    will be cleaned with an antiseptic, and a professional will use a blood donation kit
                                    to draw
                                    blood from a vein in your arm.</p>
                            </li>
                            <li>
                                <p># If you are allergic to iodine, be sure to tell the phlebotomist at this point.</p>
                            </li>
                            <li>
                                <p># During the donation process, you will donate one unit of blood; this takes about
                                    six to ten
                                    minutes.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'><button type="button" class="btn btn-danger btn-lg"><i
                                class="fa fa-tint fa-2x" aria-hidden="true"
                                style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now</button>
                                <button
                                type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                    aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register Now</button>
                            </div>
                </div>
                <br><br><br><br><br><br>
            </div>
        </section>
        <section id="eight" data-anchor="eight" class="page-block">
            <div class="content">
                <h1>Post Donation</h1>
                <h3></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p>#Following your donation, you will receive refreshments.</p>
                            </li>
                            <li>
                                <p># After donating, it is recommended that you increase your fluid intake for the next
                                    24 to 48
                                    hours; avoid strenuous physical exertion, heavy lifting or pulling with the donation
                                    arm for
                                    about five hours; and eat well balanced meals for the next 24 hours.</p>
                            </li>
                            <li>
                                <p># Smoking and alcohol consumption is not recommended after donation. Although donors
                                    seldom
                                    experience discomfort after donating, if you feel light-headed, lie down until the
                                    feeling
                                    passes.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class='row'>
                    <div class='col-xs-12 button-wrapper'><button type="button" class="btn btn-danger btn-lg"><i
                                class="fa fa-tint fa-2x" aria-hidden="true"
                                style=" vertical-align: middle;"></i>&nbsp;&nbsp;Donate Now</button>
                                <button
                                type="submit" class="btn btn-danger btn-lg" onclick="window.location='/Donor';"><i class="fa fa-user-md fa-2x"
                                    aria-hidden="true" style=" vertical-align: middle;"></i>&nbsp;&nbsp;Register
                                Now</button>
                            </div>
                </div>
            </div>

        </section>
        <br />

    </div>
    <div class="auto-container sitemap bg-dark">
        <div class="row clearfix ms-3">
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft'>
                <h3 class="text-left text-warning m-3 ms-4">Looking for Blood</h3>
                <ul style='line-height:165%'>
                    <li><a href='/index' target="_blank">Blood Availability</a></li>
                    <li><a href='/Directory' target="_blank">Blood Bank Directory</a></li>
                </ul>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft'>
                <h3 class='text-left text-warning m-3 ms-3'>Want to Donate Blood</h3>
                <ul style='line-height:165%'>
                    <li><a href='/Donor' target="_blank">Donor Login</a></li>
                    <li><a href='/Donation'>About Blood Donation</a></li>


                </ul>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft'>
                <h3 class='text-left text-warning m-3 ms-3'>Blood Bank Login</h3>
                <ul style='line-height:165%'>
                    <li><a href='/login'>Blood Hub Login</a></li>
                    <li><a href='/AddBloodBank' target="_blank">Add your Blood Bank</a>
                    </li>
                </ul>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12  wow bounceInLeft mb-4'>
                <h3 class='text-left text-warning m-3 ms-5'>About Us</h3>
                <ul style='line-height:165%'>

                    <!--  <li><a href='/BLDAHIMS/bloodbank/aboutNHM.cnt'>About NHM Initiatives</a></li> -->
                    <li><a href='/About' title="About Blood Hub" target="_blank">About Blood Hub</a></li>
                    <li><a href="/FAQ" title="Blood Hub FAQs" target="_blank">Blood Hub FAQs</a></li>
                    <li><a href="/video" title="Video gallery" target="_blank">Video Gallery</a></li>
                    <li><a href="/contact" title="Contact No" target="_blank">Contact Us</a></li>

                </ul>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 footer-logo text-center">
                <span><a class="mylink" href="/terms" style="color: white; text-decoration: none;" target="_blank">Terms
                        &
                        Conditions |</a></span>
                <span><a class="mylink" href="/policy" style="color: white; text-decoration: none;"
                        target="_blank">Privacy
                        Policy |</a></span> <span><a class="mylink" href="/accessment"
                        style="color: white; text-decoration: none;" target="_blank">Accessibility Statement
                        |</a></span>
                <span id='updatetime' style="font-size: medium; color: white; text-decoration: none;"></span>
            </div>
            <script>
                var d = (new Date()).toString().split(' ').splice(1, 3).join(' ');
                document.getElementById('updatetime').innerHTML = "Last Updated : " + d;
            </script>
        </div>
    </div>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>